body{
    margin: 0;
    padding: 0;
}

.first-row img{
    height: 200px;
    width: 190px;
    margin: 10px;
}

.first-row{
    width: 85%;
    display: flex;
    /* justify-content: space-between; */
    margin: 0 auto;
}
.first-row .card h3{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.second-row img{
    height: 200px;
    width: 290px;
    margin: 10px;
}

.second-row{
    width: 85%;
    display: flex;
    /* justify-content: space-between; */
    margin: 0 auto;
}

.second-row .card h3{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.third-row img{
    height: 200px;
    width: 600px;
    margin: 10px;
    object-fit: cover;
}

.third-row{
    width: 85%;
    display: flex;
    /* justify-content: space-between; */
    margin: 0 auto;
}

.third-row .card h3{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .first-row, .second-row, .third-row {
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        width: 30%;
    }
    .card img{
        width: 100%;
        margin: 0;
    }

}

/* Ajustes para telas ainda menores, como celulares */
@media (max-width: 480px) {
    .first-row img, .second-row img, .third-row img {
        height: auto; /* Permite que a altura da imagem seja proporcional */
    }

    h3 {
        font-size: 1.2rem; /* Ajusta o tamanho da fonte do título */
    }
}